.button {
  background-color: #b6ff00;
  box-shadow: none;
  border-radius: 2em;
  border: none;
  font-weight: 900;
  padding: 8px 20px;
  box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.1);
  transition: all 0.3s ease 0s;
}

.button:hover:enabled {
  background-color: #b6ffcc;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  transform: translateY(-7px);
}

.button:disabled {
  background-color: lightgrey;
}

.main {
  width: 100%;
  position: relative;
}

.header {
  width: 100%;
  height: 120px;
  position: relative;
  color: #232425;
}

.logo-container {
  float: left;
}

.logo {
  padding: 30px 180px;
}

.options-container {
  float: right;
  padding: 45px 180px;
  color: inherit;
}

a.github-link:link, a.github-link:visited {
  float: left;
  padding: 5px 20px;
  text-decoration: none;
  color: inherit;
  font-weight: 700;
}

.landing {
  float: left;
  height: 620px;
  padding: 0px 180px;
}

.landing-row {
  width: 100%;
  float: left;
}

.landing-title {
  font-size: 72px;
  margin: 5px;
  font-weight: 700;
  float: left;
}

.landing-subtitle {
  font-size: 22px;
  padding-right: 80px;
}

.landing-text-container {
  padding-top: 40px;
  width: 60%;
  float: left;
}

.landing-image-container {
  width: 40%;
  float: left;
}

.description-container {
  width: 100%;
  float: left;
}

.description {
  width: 640px;
  line-break: auto;
}

.app {
  float: left;
  display: block;
  padding: 0px 60px;
  width: calc(100% - 120px);
  position: relative;
  text-align: center;
}

.fusion {
  width: 100%;
}

.column {
  width: 33%;
  float: left;
}

.column-scroll {
  max-height: 800px;
  overflow-y: scroll;
}

.nft {
  min-height: 400px;
  margin: 0 auto;
  display: block;
  border: 2px solid lightgray;
  border-radius: 1em;
  padding: 10px;
  -webkit-box-shadow: 0 8px 6px -6px black;
  -moz-box-shadow: 0 8px 6px -6px black;
  box-shadow: 0 8px 6px -6px black;
  margin: 10px 60px;
}

.nft-selected {
  background-color: #b7ff0049;
}

.trait {
  margin: 2px;
}

.blends {
  width: 100%;
  float: left;
  display: block;
}

.button-link {
  background-color: transparent;
  box-shadow: none;
  border: none;
  font-weight: 900;
  padding: 8px 20px;
}

.nft-small {
  float: left;
  margin: 20px;
}

.nft-small > img {
  display: block;
  margin: 0 auto;
}

.big-button {
  height: 48px;
  width: 132px;
  font-size: 16px;
  font-weight: 800;
}
